# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
.next/
out/
.next/cache/

# Production
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local development
.DS_Store
*.swp
*.swo

# IDE/Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/

# Misc
*.log
*.tmp
*.temppublic/_next-video
