.neighborhoods-wrapper {
  top: 25%;
  height: 40px;
  padding: 5px;
  padding-top: 5px;
  overflow: hidden;
  background: rgba(226, 224, 224, 0.392);
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  opacity: 0.96;
}

.header-wrapper {
  
  position: fixed;
  top: 77px;
  width: 100%;
  background: white;
  z-index: 10;
}

.realstate-items-wrapper {
  background-color: white;
}

.neighborhood-icon-wrapper {
  margin: 5px;
}

.modal-wrapper {
  display: grid;
}

.modal-header {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: 11;
}

.modal-header-close-button {
  cursor: pointer;
}

.modal-main-wrapper {
  margin-top: 60px;
}



.neighborhood-modal-main-wrapper {
}

.breadcrumb-wrapper {
  background-color: white;

  text-align: justify;
  padding: 10px 20px;
  font-size: 14px;
  
}

.breadcrumb-p {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 600px) {
  .modal-wrapper {
    background-color: white;
    position: absolute;

    width: 100%;
    height: 100%;

    /* bgcolor: background.paper; */
    overflow: scroll;

    box-shadow: 24;
    max-height: 100vh;
  }

  .modal-header-close-button {
    cursor: pointer;
  }

  .neighborhood-modal-footer-wrapper {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 5px;
    box-shadow: 10px 10px;
    
  
  }
}

@media (min-width: 600px) {
  .modal-wrapper {
    background-color: white;
    position: absolute;

    width: 100%;
    height: 100%;

    /* bgcolor: background.paper; */
    overflow: scroll;

    box-shadow: 24;
    max-height: 100vh;
    padding: 30px;
  }

  .modal-header-title {
    text-align: right;
    padding: 6px 20px;
    font-size: 17px;
  }

  .neighborhood-modal-footer-wrapper {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    
  
  }
}


